<%= form_for(@restaurant, html: {class: 'form-horizontal'}) do |f| %>
<% if @restaurant.errors.any? %>
<div id="error_explanation">
    <h2><%= pluralize(@restaurant.errors.count, "error") %> prohibited
      this restaurant from being saved:</h2>
    <ul>
    <% @restaurant.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
</div>
<% end %>

  <!-- <form role="form">  --> 
    <div class="field form-group">
      <%= f.label :name,  class: 'col-sm-2 control-label' %>
      <div class="col-sm-10">
      <%= f.text_field :name, class: 'form-control' %>
        </div>
    </div>
   <div class="field form-group">
      <%= f.label :street_address_1,  class: 'col-sm-2 control-label' %>
      <div class="col-sm-10">
      <%= f.text_field :street_address_1, class: 'form-control' %>
        </div>
    </div>
    <div class="field form-group">
      <%= f.label :street_address_2,  class: 'col-sm-2 control-label' %>
      <div class="col-sm-10">
      <%= f.text_field :street_address_2, class: 'form-control' %>
        </div>
    </div>
   <div class="field form-group">
      <%= f.label :city,  class: 'col-sm-2 control-label' %>
      <div class="col-sm-10">
      <%= f.text_field :city, class: 'form-control' %>
      </div>
    </div>
     <div class="field form-group">
      <%= f.label :state,  class: 'col-sm-2 control-label' %>
      <div class="col-sm-10">
      <%= f.text_field :state, class: 'form-control' %>
        </div>
    </div>

     <div class="field form-group">
      <%= f.label :zipcode,  class: 'col-sm-2 control-label' %>
      <div class="col-sm-10">
      <%= f.text_field :zipcode, class: 'form-control' %>
        </div>
    </div>
    <div class="field form-group">
      <%= f.label :phone_number,  class: 'col-sm-2 control-label' %>
      <div class="col-sm-10">
      <%= f.text_field :phone_number, class: 'form-control' %>
        </div>
    </div>
        <div class="field form-group">
      <%= f.label :website,  class: 'col-sm-2 control-label' %>
      <div class="col-sm-10">
      <%= f.text_field :website, class: 'form-control' %>
        </div>
    </div>
    <div class="actions form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <%= f.submit %>
    </div>
  </div>

<% end %>