<%= form_for(@restaurant, html: {class: 'form-horizontal'}) do |f| %>
  <%= render "error_messages", :target => @restaurant %>
    <div class="field form-group">
      <%= f.label :name, "Name"+mark_required(@restaurant, :name), class: 'col-sm-3 control-label' %>    
     <div class="col-sm-9">
      <%= f.text_field :name, class: 'form-control' %>
        </div>
    </div>
   <div class="field form-group">
      <%= f.label :street_address_1,  class: 'col-sm-3 control-label' %>
      <div class="col-sm-9">
      <%= f.text_field :street_address_1, class: 'form-control' %>
        </div>
    </div>
    <div class="field form-group">
      <%= f.label :street_address_2,  class: 'col-sm-3 control-label' %>
      <div class="col-sm-9">
      <%= f.text_field :street_address_2, class: 'form-control' %>
        </div>
    </div>
   <div class="field form-group">
      <%= f.label :city,  class: 'col-sm-3 control-label' %>
      <div class="col-sm-9">
      <%= f.text_field :city, class: 'form-control' %>
      </div>
    </div>
     <div class="field form-group">
      <%= f.label :state,  class: 'col-sm-3 control-label' %>
      <div class="col-sm-9">
      <%= f.text_field :state, class: 'form-control' %>
        </div>
    </div>

     <div class="field form-group">
      <%= f.label :zipcode,  class: 'col-sm-3 control-label' %>
      <div class="col-sm-9">
      <%= f.text_field :zipcode, class: 'form-control' %>
        </div>
    </div>
    <div class="field form-group">
      <%= f.label :phone_number,  class: 'col-sm-3 control-label' %>
      <div class="col-sm-9">
      <%= f.text_field :phone_number, class: 'form-control' %>
        </div>
    </div>
        <div class="field form-group">
      <%= f.label :website,  class: 'col-sm-3 control-label' %>
      <div class="col-sm-9">
      <%= f.text_field :website, class: 'form-control' %>
        </div>
    </div>

      <div class="field form-group">
   <div class="col-sm-3 control-label">
    <strong>Owner<%= mark_required(@restaurant, :owner_id) %></strong>
    </div>
    <div class="col-sm-9">
      <!-- <p class="form-control">   -->      
      <input class="form-control" readonly=true value=<%= current_owner.name %>></input>
      <!-- </p> -->
    </div>
  </div>
    
    <div class="actions form-group">
    <div class="col-sm-offset-3 col-sm-9">
      <%= f.submit %>
    </div>
    </div>
      <div class="col-sm-offset-3 col-sm-9">
     <p>* Indicates required field</p>
    </div>
 
  

<% end %>
