<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
    	<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Restaurant App</a>
    </div>
    	<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
		    <% if owner_signed_in? %>
			    <li> <%= link_to current_owner.email, edit_owner_registration_path  %> </li>
				<li> <%= link_to "Logout", destroy_owner_session_path, method: :delete  %></li>
			  	<% else %>
				<li> <%= link_to "Sign Up", new_owner_registration_path  %></li>
				<li> <%= link_to "Login", new_owner_session_path  %></li>
	  		<% end %>
        <li> <%= link_to "About", about_path  %></li>
	  </ul>
	</div>
  </div>
</nav>