<div class="row">
   <%= render 'carousel' %>
<!--   <div class="col-sm-2">
    <div class="dishestext"><h3>Sample dishes</h3></div>
    <%# image_tag("food.gif", class: "img-responsive dishes", :alt => "Responsive image") %> 
  </div> -->

  <div class="col-sm-12">
<ul class="nav nav-tabs" role="tablist">
  <li class="active"><%= link_to 'View list', restaurants_path %></li>
  <% if owner_signed_in? %>
  <li><%= link_to 'Add new restaurant', new_restaurant_path %></li>
  <% end %>
</ul>
<h2>Restaurant List</h2>
<div id="map-padding">
<div id="map-canvas"></div>
</div>
<table class="table table-condensed">
  <tr>
    <th>Name</th>
    <th>City</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  <% @restaurant.each do |restaurant| %>
    <tr>
      <td><%= restaurant.name %></td>
      <td><%= restaurant.city %></td>
    <td><%= link_to 'Show', restaurant_path(restaurant), class: 'btn btn-primary btn-xs' %></td>
    <% if owner_signed_in? %>
      <% if restaurant.owner_id == current_owner.id %>
       <td><%= link_to 'Edit', edit_restaurant_path(restaurant), class: 'btn btn-primary btn-xs' %></td>
        <td><%= link_to 'Delete', restaurant_path(restaurant), method: :delete, data: { confirm: 'Are you sure you want to delete ' + restaurant.name + '?' }, class: 'btn btn-primary btn-xs' %></td> 
     <% end %>
    <% end %>
    </tr>
  <% end %>
</table>
<br/>
<% if owner_signed_in? %>
<%= link_to new_restaurant_path, class: 'btn btn-success' do %>
<i class="glyphicon glyphicon-plus"></i> New Restaurant
<% end %>
<% end %>
  </div>
</div>