
<table class="table table-condensed">
  <tr><h2>Restaurant Details</h2></tr>
<tr>
  <td class ="col-md-3"><strong>Name:</strong></td>
  <td class ="col-md-9"><%= @restaurant.name %></td>
</tr>
<tr>
  <td>
  <strong>Address 1:</strong>
  </td>
  <td>  <%= @restaurant.street_address_1 %>
  </td>
</tr>

<tr>
  <td>
  <strong>Address 2:</strong>
  </td>
  <td>  <%= @restaurant.street_address_2 %>
  </td>
</tr>

<tr>
  <td>
  <strong>City:</strong>
  </td>
  <td>  <%= @restaurant.city %>
  </td>
</tr>

<tr>
  <td>
  <strong>State:</strong>
  </td>
  <td>  <%= @restaurant.state %>
  </td>
</tr>

<tr>
  <td>
  <strong>Zip Code:</strong>
  </td>
  <td>  <%= @restaurant.zipcode %>
  </td>
</tr>

<tr>
  <td>
  <strong>Phone Number:</strong>
  </td>
  <td>  <%= @restaurant.phone_number %>
  </td>
</tr>
<p>

<tr>
  <td>
  <strong>Website:</strong> 
  </td>
  <td>  <%= link_to @restaurant.website, my_method(@restaurant.website) %>
  </td>
</tr>

<tr>
  <td>
  <strong>Owner:</strong> 
  </td>
  <td>  <%= @owner.name %>
  </td>
</tr>

<tr>
  <td colspan="2">
  <% staticmap = "https://maps.googleapis.com/maps/api/staticmap?markers=size:mid| "+
    CGI.escape(@restaurant.street_address_1 + @restaurant.street_address_2 + @restaurant.city + @restaurant.state)+ "&zoom=13&size=400x300" %>
  <%= image_tag(staticmap, class: "img-responsive", :alt => "Google Maps Static") %> 
</tr>
</table>
<%= link_to 'Back', restaurants_path, class: "btn btn-default" %>
<% if owner_signed_in? %>
  <% if @restaurant.owner_id == current_owner.id %>
  <%= link_to 'Edit', edit_restaurant_path(@restaurant), class: "btn btn-default" %>
  <% end %>
<% end %>




