<!DOCTYPE html>
<html>
<head>
  <title>My Restaurant App</title>
      <style type="text/css">
    </style>
    <script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA5Q2yOk-Jz77cOdx0xJCZIj0GI4mlOnNo">
    </script>
    <script type="text/javascript">
      function initialize() {
        var mapOptions = {
          center: { lat: -34.397, lng: 150.644},
          zoom: 8
        };
        var map = new google.maps.Map(document.getElementById('map-canvas'),
            mapOptions);
      }
      google.maps.event.addDomListener(window, 'load', initialize);
    </script>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_include_tag 'application'%>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render 'restaurants/navigation' %>
    <div id="main-container" class="container">
      <div class="row">
        <div class="col-xs-3">
          <h3>Sample dishes</h3>
          <%= image_tag("food.gif", :alt => "image",:width => 150, :height => 93) %> 
        </div>
        <div class="col-xs-9">
<%= yield %>
     </div>
      </div>
    </div>
</body>
</html>
